html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Courier New', Courier, monospace;

    background-image: linear-gradient(to bottom, #38143d, #09090f);
    background-color: #09090f;
}

section.background-about {
    height: auto;
    width: 100vw;
}

.card-btn {
    cursor: pointer;
}

h2 {
    color: rgb(255 153 153);
    margin: 0px;
}

a {
    text-decoration: none;
    color: darkorange;
}

h1 {
    padding: 50px;
    text-align: center;
    color: rgb(255 153 153);
    font-size: 300%;
    font-family: 'Courier New', Courier, monospace;
}

.grid {
    display: grid;
    row-gap: 150px;
    column-gap: 100px;
    list-style: none;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    text-align: left;
    padding: 80px;
    margin: 0;
}

.band-card:hover {
    box-shadow: 0 0px 6px 0 rgba(161, 255, 224, 0.336);
    transition: 0.3s;
    background-color: rgb(94, 68, 122);
    border-radius: 15px;
    padding: 20px;
    min-width: 210px;
    /* min-height: 300px; */
}

.card {
    box-shadow: 0 0px 6px 0 rgba(161, 255, 224, 0.336);
    transition: 0.3s;
    background-color: rgb(255 153 153);
    border-radius: 15px;
    padding: 20px;
    min-width: 210px;
}

.card:hover {
    box-shadow: 0 0px 16px 0 rgb(255 153 153);
}

/* .container {
    padding: 8px;
    margin-left: 5px;

} */

.card img,
.band-card img {
    border-radius: 15px;
}

#artist-img {
    width: 10%;
    border-radius: 15px;
}

.band-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.nav-bar {
    background-color: rgba(116, 29, 96, 0.699);
    border-bottom: 3px solid rgb(255 153 153);
    padding-top: 25px;
    width: 100%;
    margin: auto;
    text-align: center;
    list-style-type: none;
    display: flex;
    justify-content: center;
    animation: expand 1.5s ease;
    position: relative;
}

@keyframes expand {
    0% {
        clip-path: inset(0 50% 0 50%);
    }

    100% {
        clip-path: inset(0 0 0 0);
    }
}

.nav-bar li a {
    color: rgb(255 153 153);
    text-decoration: none;
    padding-left: 50px;
    padding-right: 50px;
    text-shadow: 0 0 5px rgb(22, 8, 19);
    transition: text-shadow 0.2s ease;
    display: flex;
    font-size: 25px;
}

.nav-bar li a:hover {
    text-shadow: 0 0 4px rgb(255 153 153);
}

details {
    margin-bottom: 10px;
    border: 2px solid rgb(68, 32, 59);
    border-radius: 8px;
    width: 200px;
}

summary {

    background-color: rgb(68, 32, 59);
    color: rgb(255 153 153);
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border-radius: 8px;

}

.items li {
    margin: 10px;
    /* Space between each member */
}


.items {
    margin: 10px 0;
    /* Vertical spacing between items */
}


ul {
    padding: 0px;
    list-style-type: none;
    margin-left: 5px;
}

#text {
    margin-left: 5px;
}

.card-container1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: flex-start;
    flex-grow: 1;
    flex-basis: 200;
}

p {
    color: rgb(255 153 153);
    text-align: center;
    font-size: 20px;
}

.footer {
    background-color: #1a1a1d;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    font-size: 14px;
    width: 100%;
}