<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/css/favicon.ico">
    <title>About Page</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <section class="background-about">
        <ul class="nav-bar">
            <li><a href="/">Home</a></li>
            <li><a href="/About">About Us</a></li>
        </ul>
        <h1>Groupie Tracker</h1>
        <h1>We are the Groupie Trackers aka Johannes, Fanni and Roope.</h1>
        <p>We have made this web application that gets all information from an API and put all artists information
            together.<br>
            At home page you can find the selection of artists, go ahead and click your favourites.<br>
            The artist page shows artist information such as members, concerts and much more.<br>
            Hope you have fun with our page! <br><br>
            <a href="/">Click here to get back home</a></p>
    </section>
</body>