<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/css/favicon.ico">
    <title>{{.ErrorMessage}}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <section class="background-about">
        <ul class="nav-bar">
            <li><a href="/">Home</a></li>
            <li><a href="/About">About Us</a></li>
        </ul>
        <h1>{{.ErrorStatus}}</h1>

        <h1>{{.ErrorMessage}}</h1>
        <p>Sorry the page you were looking for is not here,
            <br>Maybe your URL has a typo! 
            <br><br> <a href="/">Click here to get back home</a></p>
    </section>
</body>