<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/css/favicon.ico">
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>


<body>
    <section class="background">
        <ul class="nav-bar">
            <li><a href="/">Home</a></li>
            <li><a href="/About">About Us</a></li>
        </ul>
        <h1>Groupie Tracker</h1>

        <!-- placeholdes for navbar -->

        <section>
            <ul class="grid">
                {{range .}}
                <li class="card-container">
                    <div class="band-card">
                        <a href="/{{.Name}}">
                            <img src="{{.Image}}" alt="{{.Name}}" style="width:100%">
                            <div class="container">
                                <h2>{{.Name}}</h2>
                            </div>
                        </a>
                    </div>
                </li>
                {{end}}
            </ul>
        </section>
    </section>

    <footer class="footer">
        <p>&copy; 2024 The Groupie Tracker. All rights reserved. Authors Fanni, Johannes and Roope.</p>
    </footer>
</body>

</html>